
img{
    width:100px;
    height:75px;
    margin: 10px 0 ;
}
.lol{
    width:100vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    margin-left: auto;
    margin-right: auto;
}
.containerApp{   
    height: 100%;
    display: flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;   
}
.containerForm{
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-color: rgb(255, 235, 235);    
    border: 1px solid rgb(226, 226, 226);
    padding: 20px;
    margin: 20px;
}
.card{
    height: 300px;
    background-color: rgb(255, 236, 236);
    padding: 20px;
    margin: 20px;
    border: 1px solid rgb(226, 226, 226);
    font-weight: 600;
}
.cardForm{
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}
form{
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
button{
    width: 165px;
    margin: 15px;
    border: 1px solid rgb(193, 193, 193);
    cursor: pointer;
}
form input{
    margin: 5px;
    border: 1px solid rgb(193, 193, 193);   
}
input{
    margin-top:5px;
    border: 1px solid rgb(193, 193, 193);  
}
hr{
    width: 150px;
    border: 1px solid rgb(193, 193, 193);  
}